aiogram==3.3.0 --only-binary=all
apscheduler==3.10.4 --only-binary=all
gspread==6.2.1 --only-binary=all
google-auth==2.41.1 --only-binary=all
pytz==2023.3 --only-binary=all
python-dotenv==1.0.0 --only-binary=all
cachetools==6.2.1 --only-binary=all
requests==2.32.5 --only-binary=all


